<h1>Show Test</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.test_show_path(@socket, :show, @test)}>
    <.live_component
      module={RemoveBugWeb.TestLive.FormComponent}
      id={@test.id}
      title={@page_title}
      action={@live_action}
      test={@test}
      return_to={Routes.test_show_path(@socket, :show, @test)}
    />
  </.modal>
<% end %>

<ul>

</ul>

<span><%= live_patch "Edit", to: Routes.test_show_path(@socket, :edit, @test), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.test_index_path(@socket, :index) %></span>
